*,
*::before,
*::after {
    box-sizing: inherit;
}
@font-face {
  font-family: "Abrade Bold";
  src: url("../font/Abrade/Abrade Bold.otf");
}
@font-face {
  font-family: "Abrade Book";
  src: url("../font/Abrade/Abrade Book.otf");
}
@font-face {
  font-family: "Gotham Bold";
  src: url("../font/Gotham/Gotham-Bold_1.otf");
}
@font-face {
  font-family: "Gotham Book";
  src: url("../font/Gotham/Gotham-Book.otf");
}
html {
    box-sizing: border-box;
    line-height: 1.4;
}

body {
    color: #fff;
    font-family: "Abrade Bold" !important;
    background: #efeded !important;
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

main a {
    box-shadow: inset 0 -2px #F2B139;
    color: #229FBF;
}
main a:hover {
    box-shadow: inset 0 -30em #F2B139;
    color: #fff;
}

h1,
h2,
h3 {
    /*text-align: center;*/
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 3.6em;
    line-height: 1.4;
    margin-top: 0.4666666667em;
    margin-bottom: 0.4666666667em;
}

h2 {
   font-family: "Abrade Bold";
   font-size: 2.5em;
   line-height: 1.4;
   margin-top: 0.8555555556em;
   margin-bottom: 0.8555555556em;
   color:#1a2239;
}

h3 {
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.4;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

img {
    max-width: 100%;
}

p {
    margin: 1.4rem 0;
}

small,
.small {
    font-size: 0.7em;
    line-height: 1.4;
    margin-top: 2.3em;
    margin-bottom: 2.3em;
}

.button {
    background: #6da768;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 4px #528552;
    color: #fff;
    display: inline-block;
    padding: calc(0.7rem - 1px) 1.4rem;
}
.sw-btn-next{
    background: #13315c;
    border-radius: 3px;
    border: 0;
    color: #fff;
    display: inline-block;
    padding: calc(0.7rem - 1px) 1.4rem;
}
.button:focus {
    outline: 0;
}
.button-red {
    background: #E03E4F;
    border: 1px solid #E03E4F;
    box-shadow: 0 4px #BF2F45;
}
.button-red:hover, .button-red:focus {
    background: #f34459;
    box-shadow: 0 4px #dd324d;
    outline: 0;
}
.button-yellow {
    background: #F2B139;
    border: 1px solid #F2B139;
    box-shadow: 0 4px #d68d33;
}
.button-yellow:hover, .button-yellow:focus {
    background: #F8CB4F;
    box-shadow: 0 4px #F2B139, 0 0 10px #d68d33;
    outline: 0;
}
.button-blue {
    background: #60C3D6;
    border: 1px solid #60C3D6;
    box-shadow: 0 4px #627375;
}
.button-blue:hover, .button-blue:focus {
    background: #60BAD1;
    box-shadow: 0 4px #4CA0BD, 0 0 10px #1d7ba3;
    outline: 0;
}

.full-width {
    width: 100%;
}

.inline-list {
    display: -webkit-box;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
}
.inline-list::after {
    clear: both;
    content: "";
    display: table;
}
.inline-list a {
    display: inline-block;
    padding: 0.7rem;
}
.inline-list li {
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    list-style: none;
    white-space: nowrap;
    margin-top: 10px;
}

.large-list {
    list-style: none;
    text-align: left;
    max-width: 50em;
    margin: 0 auto 2.1rem;
    padding: 0;
}
.large-list li {
    margin: 0.7rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.large-list li:hover {
    -webkit-transform: translateX(1.4rem);
    transform: translateX(1.4rem);
}
.large-list li:before {
    color: #6da768;
}

@-webkit-keyframes fadein {
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}
.fixed-width {
    /*padding: 1.4rem;
    text-align: center;*/
}
.fixed-width::after {
    clear: both;
    content: "";
    display: table;
}
@media (min-width: 75em) {
    .fixed-width {
        padding: 2.4rem calc(50% - 37em) 8.4rem calc(50% - 40em);
    }
}
.fixed-width h3 {
    white-space: nowrap;
}

.col {
    padding: 1.4rem;
}

.small-box {
    border-radius: 3px;
    display: block;
    margin: 1.4rem 2.5%;
    padding-top: 0;
    padding-bottom: 1.4rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.small-box:hover {
    -webkit-transform: translateY(-1.4rem);
    transform: translateY(-1.4rem);
}

.topbar {
    /*background: #F7F1F1;
    box-shadow: 0 6px #627375;*/
    color: #627375;
    position: fixed;
    bottom: 0; 
    left: 0; 
    top: 0px;
    right: 0;
    height: 77px !important;
    z-index: 9999 !important;
}
.topbar::after {
    clear: both;
    content: "";
    display: table;
}
.topbar li:nth-child(1) a:hover {
    box-shadow: inset 0 -4px 0 #60C3D6;
}
.topbar li:nth-child(2) a:hover {
    box-shadow: inset 0 -4px 0 #60C3D6;
}
.topbar li:nth-child(3) a:hover {
    box-shadow: inset 0 -4px 0 #60C3D6;
}
.topbar li:nth-child(4) a:hover {
    box-shadow: inset 0 -4px 0 #60C3D6;
}
.topbar li:nth-child(5) a:hover {
    box-shadow: inset 0 -4px 0 #60C3D6;
}

.site-title {
    display: none;
    font-size: 1.8rem;
    margin: 0;
}

.logo-medium {
    width: auto;
    height: 1.8rem;
    position: relative;
    bottom: -0.27777em;
}
.logo-medium .svg-fire {
    mix-blend-mode: overlay;
    opacity: 0;
}
.logo-medium:hover .svg-fire {
    -webkit-animation: fire 1s linear infinite;
    animation: fire 1s linear infinite;
}

@-webkit-keyframes fire {
    50% {
        opacity: 0;
    }
    25%, 100% {
        opacity: 1;
    }
}

@keyframes fire {
    50% {
        opacity: 0;
    }
    25%, 100% {
        opacity: 1;
    }
}
.top-navigation .icon::before {
    display: block;
    font-size: 5vw;
    padding: 0;
}
.top-navigation ul li:first-child {
    display: none;
}

.site-header {
    background: #1d2326;
}

.header-image {
    background: url(http://localhost/tecnotalentos/assets/img/cp.jpg) no-repeat top left/cover;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 35, 38, 0.8)), to(rgba(29, 35, 38, 0.8))), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/197359/wide-social-banner.png) no-repeat top left/cover;
    background: linear-gradient(rgba(29, 35, 38, 0.8), rgba(29, 35, 38, 0.8)), url(http://localhost/tecnotalentos/assets/img/cp.jpg) no-repeat top left/cover;
    text-align: center;
    padding: 1.4rem 1.4rem 2.8rem;
}
.header-image .button {
    margin: 0.7rem;
}

.header-title {
    color: #fff;
    font-size: 2.8em;
    line-height: 1.4;
    margin-top: 0.55em;
    margin-bottom: 0.55em;
    margin-top: 0;
}

.header-description {
    color: #60c3d5;
    font-weight: 700;
    text-shadow: 0px 0px 6px #1d2326;
    font-size: 1.8em;
    line-height: 1;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    margin-top: 1.5em;
}

.highlighted-bg {
    background: #1a2239 !important;
    /*background: linear-gradient(0deg, rgba(10,20,32,1) 0%, rgba(26,34,57,1) 35%, rgba(10,20,32,1) 100%) !important;*/
}

.title-contacto{
    font-size: 45px;
    font-family: "Abrade Bold";
    color: #fff;
    text-align: left;
    margin-left: 64px;

}
label{
  font-family: "Gotham Book";
}
.Termino{
  font-family: "Gotham Bold";
}
.landing-icon {
    display: block;
    margin: 0 auto;
    -webkit-transition: 0.3s cubic-bezier(0.48, 0.77, 0.33, 1.8);
    transition: 0.3s cubic-bezier(0.48, 0.77, 0.33, 1.8);
}
/*.landing-icon:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}*/

.testimonial-avatar {
    background: rgba(255, 255, 255, 0.40);
    border-radius: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 200px;
    width: 200px;
}
.cont-desc{
    min-height: 20px;
    width: 90%;
/*        margin-left: 67px;
*/}
.title-cap{
    width: 122%;
    text-transform: uppercase;
    font-family: "Gotham Bold";
    font-weight: bold;
    color: #1a2239;
    font-size: 15px;
}
.title-cap-desc{
  color: #000000;
  text-align: center;
  font-family: "Gotham Book";
  font-size: 15px;
  width: 104%;
  margin-left: 10px;
}
.testimonial-avatar>img{
    width: 80%;
    padding: 17px;
    margin: 22px 2px 0px 23px;
}
/*.testimonial-avatar:hover {
    background: #627375;
    border-color: #627375;
    -webkit-transform: none;
    transform: none;
}
*/
.perfil-avatar {
    border-radius: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 200px;
    width: 200px;
}
.perfil-avatar:hover {
    background: #627375;
    border-color: #627375;
    -webkit-transform: none;
    transform: none;
}
.perfil-avatar_rec {
    border-radius: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 90px;
    width: 90px;
}
.perfil-avatar_setting {
    border-radius: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 150px;
    width: 150px;
}
.perfil-avatar_rec:hover {
    background: #627375;
    border-color: #627375;
    -webkit-transform: none;
    transform: none;
}

.icon:before {
    padding-right: 0.7rem;
}

.icon-large {
    color: #6da768;
    line-height: 0;
    font-size: 8.4em;
    margin-top: -1.3rem;
}
.icon-large:before {
    padding: 0;
}

.ion-social-html5 {
    color: #e34f26;
}

.ion-social-css3 {
    color: #229FBF;
}

.ion-social-javascript {
    color: #F0DB4F;
}

.ion-stats-bars {
    color: #1d7ba3;
}

.ion-social-github {
    color: #4183c4;
}

.ion-social-angular {
    color: #DD1B16;
}

.ion-social-nodejs {
    color: #80BD01;
}

.featured-in-image {
    display: block;
    margin: 0 auto;
    font-size: 3em;
    line-height: 1.4;
    margin-top: 0.4666666667em;
    margin-bottom: 0.4666666667em;
}

.site-footer {
    background: #222226;
    position: relative;
    padding: 1.4rem;
    font-family: "Gotham Book";
    text-align: center;
}
@media (min-width: 75em) {
    .site-footer {
        padding: 0.7rem calc(50% - 30em);
    }
}
.site-footer a {
    color: #678EB2;
}
.site-footer a:hover {
    box-shadow: inset 0 -4px #678EB2;
}
.site-footer ul {
    flex-wrap: wrap;
}

/* Login */
.login-modal-bg {
    background: rgba(29, 35, 38, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0;
}
@supports (mix-blend-mode: multiply) {
    .login-modal-bg {
        background: #2a7fbf;
        mix-blend-mode: multiply;
    }
}

.login-container {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 4px #6da768;
    position: absolute;
    top: 4.2rem;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    z-index: 100000;
    max-width: 90%;
    width: 50em;
    display: none;
    opacity: 0;
}
.login-container .half {
    width: 100%;
}
.login-container h3 {
    margin-top: 0.375rem;
    margin-bottom: 1.8rem;
    font-weight: 700;
    text-align: left;
}
.login-container .highlighted-bg {
    box-shadow: none;
}
.login-container .highlighted-bg .button:first-child {
    margin-top: 0;
}
.login-container .button {
    margin-top: 1.4rem;
    padding: 0.7rem;
}
.login-container .button:hover, .login-container .button:focus {
    opacity: 0.9;
}
.login-container .icon:before {
    color: #fff;
}
.login-container .small {
    line-height: 1.4rem;
    text-align: center;
    margin-bottom: 0;
}
.login-container .small a:last-child {
    color: #6da768;
}

@-webkit-keyframes slidedown {
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}

@keyframes slidedown {
    100% {
        opacity: 1;
        -webkit-transform: translate3d(-50%, -50%, 0);
        transform: translate3d(-50%, -50%, 0);
    }
}
.icon-label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.icon-label .icon::before {
    padding: 0.7rem;
    text-align: center;
    width: 2.8rem;
}
.icon-label .icon,
.icon-label .icon::before {
    background: #229FBF;
    display: block;
    font-size: 1.4rem;
    height: 100%;
}

.button-twitter {
    background: #55acee;
    box-shadow: 0 4px #4480bd;
}

.button-github {
    background: #666;
    box-shadow: 0 4px #363636;
}

.button-facebook {
    background: #3b5998;
    box-shadow: 0 4px #273463;
}

.button-google {
    background: #dc4e41;
    box-shadow: 0 4px #b53636;
}

.button-linkedin {
    background: #0077b5;
    box-shadow: 0 4px #005194;
}

.close-button {
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    position: absolute;
    top: calc(-4.2rem - 2px);
    right: 0;
    z-index: -1;
}

/* Media queries */
@media (min-width: 30em) {
    .button.button-login {
        margin-left: 0.7rem;
        padding: 0.5em 1.4rem;
        position: relative;
        bottom: -4px;
    }
    .button.button-login:hover {
        box-shadow: 0 2px #BF2F45, 0 0 10px #BF2F45, 0 0 0 6px rgba(0, 0, 0, 0.5);
        bottom: -6px;
    }

    .top-navigation ul li:first-child {
        display: block;
    }

    .col {
        float: left;
    }

    .third {
        width: 33.33333%;
    }

    .half,
    .fourth {
        width: 50%;
    }

    .small-box {
        width: 45%;
    }
}
@media (min-width: 45em) {
    .top-navigation {
        float: right;
        margin-top: 0%;
        position: absolute;
        right: 2%;
    }
    .top-navigation .icon::before {
        display: none;
    }

    .site-title {
        display: block;
        float: left;
    }

    .topbar {
        position: fixed;
        padding: 0.7rem;
    }

    .header-image {
        padding: 4.2rem;
    }
    .header-image .button {
        margin: 2.8rem 12px 0;
    }

    .header-title {
        color: #fff;
        line-height: 1.8;
        margin-top: 5em;
        margin-bottom: 2em;
        font-size: 38px;
    }

    .header-description {
        font-size: 1.8em;
        line-height: 1;
        margin-top: 1.3em;
        margin-bottom: 1.3em;
        margin-top: 1.5em;
    }

    .login-container {
        top: 50%;
    }
    .login-container .half {
        width: 50%;
    }
    .login-container.unhide {
        -webkit-transform: translate3d(-50%, 50%, 0);
        transform: translate3d(-50%, 50%, 0);
        -webkit-animation: slidedown 0.3s forwards ease-out;
        animation: slidedown 0.3s forwards ease-out;
    }
}
@media (min-width: 57.5em) {
    .fourth {
        width: 25%;
    }

    .small-box {
        margin: 2.8rem 2.5%;
        width: 20%;
    }
    .small-box:nth-child(n+6) {
        margin-top: 0;
    }
}
@media (min-width: 75em) {
    html {
        font-size: 20px;
    }

    .topbar {
        /*padding-left: calc(50% - 35em);*/
        /* padding-right: calc(50% - 35em);*/
    }
}
.unhide {
    -webkit-animation: fadein 0.3s forwards ease-out;
    animation: fadein 0.3s forwards ease-out;
    display: block;
}
.scrolled{
    position: fixed !important;
    top: 0px !important;
    height: 77px !important;
}











.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
/*  width: 50%;
*/}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #6a6a6a;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 35px;

}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.img-login{
    width: 51%;
    height: 223px;
    -webkit-transform: scale(2);
    transform: scale(2);
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.2s;
    position: absolute;
    left: 112px;
    top: 86px;
}





/**
* General variables
*/
/**
* General configs
*/
* {
    box-sizing: border-box;
}

body {
    line-height: 1em;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
}
input[type="search"] {
    border: 1px solid #333;
}
input[type="submit"] {
    cursor: pointer;
}
input::-webkit-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}
input::-moz-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}
input:-ms-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}
input::-ms-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}
input::placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}

/**
* Bounce to the left side
*/
@-webkit-keyframes bounceLeft {
    0% {
        -webkit-transform: translate3d(100%, -50%, 0);
        transform: translate3d(100%, -50%, 0);
    }
    50% {
        -webkit-transform: translate3d(-30px, -50%, 0);
        transform: translate3d(-30px, -50%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
}
@keyframes bounceLeft {
    0% {
        -webkit-transform: translate3d(100%, -50%, 0);
        transform: translate3d(100%, -50%, 0);
    }
    50% {
        -webkit-transform: translate3d(-30px, -50%, 0);
        transform: translate3d(-30px, -50%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
}
/**
* Bounce to the left side
*/
@-webkit-keyframes bounceRight {
    0% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    50% {
        -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
        transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, -50%, 0);
        transform: translate3d(100%, -50%, 0);
    }
}
@keyframes bounceRight {
    0% {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    50% {
        -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
        transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, -50%, 0);
        transform: translate3d(100%, -50%, 0);
    }
}
/**
* Show Sign Up form
*/
@-webkit-keyframes showSignUp {
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes showSignUp {
    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
/**
* Page background
*/
.user {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 90.5%;
    background-size: cover;
    background: #DDDDDD;
}
.user_options-container {
    position: relative;
    width: 80%;
    margin-top: 84px;
}
.user_options-text {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    background-color: #627375;
    border-radius: 3px;
}

/**
* Registered and Unregistered user box and text
*/
.user_options-registered,
.user_options-unregistered {
    width: 50%;
    padding: 75px 45px;
    color: #fff;
    font-weight: 300;
}

.user_registered-title,
.user_unregistered-title {
    margin-bottom: 15px;
    font-size: 1.66rem;
    line-height: 1em;
}

.user_unregistered-text,
.user_registered-text {
    font-size: 0.83rem;
    line-height: 1.4em;
}

.user_registered-login,
.user_unregistered-signup {
    margin-top: 30px;
    margin-left: 110px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.user_registered-login:hover,
.user_unregistered-signup:hover {
    color: rgba(34, 34, 34, 0.85);
    background-color: #ccc;
}

/**
* Login and signup forms
*/
.user_options-forms {
    background-color: #DDDDDD !important;
    padding: 80px 17px !important;
    margin-bottom: -8px !important;
}
.user_options-perfile{
    min-height: 443px !important;

}

.user_options-forms .user_forms-login {
    -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
}
.user_options-forms .forms_title {
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #e8716d;
    letter-spacing: 0.1rem;
}
.user_options-forms .forms_field:not(:last-of-type) {
    margin-bottom: 20px;
}
.user_options-forms .forms_field-input {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-family:"Abrade Bold" !important;
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    letter-spacing: 0.1rem;
    -webkit-transition: border-color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}
.user_options-forms .forms_field-input:focus {
    border-color: gray;
}
.user_options-forms .forms_buttons {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 35px;
}
.user_options-forms .forms_buttons-forgot {
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-forgot:hover {
    color: #b3b3b3;
}
.user_options-forms .forms_buttons-action {
    background: rgb(60,98,160);
    background: linear-gradient(0deg, rgba(60,98,160,1) 0%, rgba(66,134,243,1) 100%);
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 11px;
    font-family:"Abrade Bold" !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.user_options-forms .forms_buttons-action:hover {
    background-color: #4286f3;
}
.user_options-forms .user_forms-signup,
.user_options-forms .user_forms-login {
    position: absolute;
    top: 70px;
    left: 40px;
    width: calc(100% - 80px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out;
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.user_options-forms .user_forms-signup {
    -webkit-transform: translate3d(120px, 0, 0);
    transform: translate3d(120px, 0, 0);
}
.user_options-forms .user_forms-signup .forms_buttons {
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.user_options-forms .user_forms-login {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
}

/**
* Triggers
*/
.user_options-forms.bounceLeft {
    -webkit-animation: bounceLeft 1s forwards;
    animation: bounceLeft 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-signup {
    -webkit-animation: showSignUp 1s forwards;
    animation: showSignUp 1s forwards;
}
.user_options-forms.bounceLeft .user_forms-login {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-120px, 0, 0);
    transform: translate3d(-120px, 0, 0);
}
.user_options-forms.bounceRight {
    -webkit-animation: bounceRight 1s forwards;
    animation: bounceRight 1s forwards;
}

/**
* Responsive 990px
*/
@media screen and (max-width: 990px) {
    .user_options-forms {
        min-height: 350px;
    }
    .user_options-forms .forms_buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .user_options-forms .user_forms-login .forms_buttons-action {
        margin-top: 30px;
    }
    .user_options-forms .user_forms-signup,
    .user_options-forms .user_forms-login {
        top: 40px;
    }

    .user_options-registered,
    .user_options-unregistered {
        padding: 50px 45px;
    }
}








.hotel-shimmer {
    border-bottom: #DDD 1px solid;
    width: 400px;
    background: #FFF;
    margin: 20px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), inset 0 -1px 0 0 #eceff1;
    border: solid 1px #d5dadd;
}
.hotel-shimmer > .h-img {
    height: 30px;
    margin-bottom: 8px;
    height: 158px;
}
.hotel-shimmer > .h-info {
    background: transparent;
    padding: 5px 16px 16px 16px;
}
.hotel-shimmer > .h-info > .tl {
    height: 30px;
    margin-top: 10px;
}

.gm_animated-background {
/*-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-name: placeHoldShimmer;
animation-name: placeHoldShimmer;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;*/
background: #f6f7f8;
background: -webkit-linear-gradient(left, #eeeeee 0%, #dddddd 25%, #eeeeee 40%);
position: relative;
background-size: 800px 104px;
}
.gm_animated-background_prew {
/*-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-iteration-count: infinite;
animation-iteration-count: infinite;
-webkit-animation-name: placeHoldShimmer;
animation-name: placeHoldShimmer;
-webkit-animation-timing-function: linear;
animation-timing-function: linear;*/
background: rgb(60,98,160) !important;
background: linear-gradient(0deg, rgba(60,98,160,1) 0%, rgba(66,134,243,1) 100%) !important;
position: relative;
background-size: 800px 104px;
}

@-webkit-keyframes placeHoldShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHoldShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
.my-goomo-shimmer .mg-ttl {
    width: 40%;
    height: 20px;
    border-radius: 4px;
}
.my-goomo-shimmer .mg-user-header {
      background: rgb(60,98,160);
    background: linear-gradient(0deg, rgba(60,98,160,1) 0%, rgba(66,134,243,1) 100%);
    padding: 20px 5% 160px;
}
.my-goomo-shimmer_rec .mg-user-header_rec {
      background: rgb(60,98,160);
    background: linear-gradient(0deg, rgba(60,98,160,1) 0%, rgba(66,134,243,1) 100%);
    padding: 0px 5% 86px;
    position: fixed;
    width: 100%;
    margin-top: 0px;
    z-index: 1000;
}
.main-wrap{
        padding-top: 6% !important;
}
/*.my-goomo-shimmer .mg-user-header > .wrp {
    display: -webkit-box;
    display: flex;
}*/
.wrp_rec_right{
    position: absolute;
    right: 2%;
    top: 35%;
}

.button-recluta-perfil{
   background: transparent !important;
   border: none !important;
   color: #fff !important;
   font-size: 38px !important;
   padding: 0px 25px !important;
   font-weight: 100 !important;
}
.my-goomo-shimmer .mg-user-header > .wrp {
    display: block;
    position: absolute;
    left: 43%;
    top: 23%;
}

.my-goomo-shimmer_rec .mg-user-header_rec > .wrp_rec {
    display: block;
    position: absolute;
    left: 7%;
    top: 35%;
}
.wrp_rec_setting {
    top: 145% !important;
}
.my-goomo-shimmer .mg-user-header > .wrp > .usr-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.my-goomo-shimmer_rec .mg-user-header_rec > .wrp_rec > .usr-img_rec {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.my-goomo-shimmer_rec .mg-user-header_rec > .wrp_rec > .usr-img_setting {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.my-goomo-shimmer .mg-user-header > .wrp .mg-dtls {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-left: 20px;
}
.my-goomo-shimmer_rec .mg-user-header_rec > .wrp_rec .mg-dtls_rec {
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-left: 20px;
}
.my-goomo-shimmer .mg-user-header > .wrp .mg-dtls .mg-ttl {
    height: 20px;
    width: 45%;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.my-goomo-shimmer .mg-user-header > .wrp .mg-dtls .mg-ttl:nth-child(2) {
    width: 30%;
}
.my-goomo-shimmer .main-wrap {
    padding: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    position: relative;
    top: 77px;
    max-width: 1157px;
    margin: 0px auto;
}
.my-goomo-shimmer .mg-shim-sidebar {
    background: #FFF;
    width: calc(25% - 15px);
    margin-right: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), inset 0 -1px 0 0 #eceff1;
}
.my-goomo-shimmer .mg-shim-sidebar > ul {
    margin: 0px;
    padding: 0px;
}
.my-goomo-shimmer .mg-shim-sidebar > ul > li {
    display: -webkit-box;
    display: flex;
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #EEE;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.my-goomo-shimmer .mg-shim-sidebar > ul > li > span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}
.my-goomo-shimmer .mg-shim-sidebar > ul > li > .mg-dtls {
    padding-left: 20px;
    width: 100%;
    height: 40px;
}
.my-goomo-shimmer .mg-shim-sidebar > ul > li > .mg-dtls .mg-ttl {
    margin-top: 10px;
    width: 80%;
    height: 20px;
}
.my-goomo-shimmer .mg-shim-main {
    background: transparent;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11), inset 0 -1px 0 0 #eceff1;
    border-radius: 3px;*/
}
.my-goomo-shimmer .mg-shim-main > header {
    border-bottom: 1px solid #DDD;
    padding: 15px 10px;
}
.my-goomo-shimmer .mg-shim-main .mg-rst {
    display: -webkit-box;
    display: flex;
    padding: 15px 10px;
    width: 1121px;
/*  border-bottom: 1px solid #DDD;
*/}
.my-goomo-shimmer .mg-shim-main .mg-rst .icn-wrp {
    border-radius: 5px;
    width: 40px;
    height: 40px;
}
.my-goomo-shimmer .mg-shim-main .mg-rst .mg-dtls {
    -webkit-box-flex: 1;
    flex: 1;
    padding: 0px 15px;
}
.my-goomo-shimmer .mg-shim-main .mg-rst .mg-dtls:nth-child(3) {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: end;
    align-items: flex-end;
}
.my-goomo-shimmer .mg-shim-main .mg-rst .mg-dtls:nth-child(3) .mg-ttl {
    display: block;
}
.my-goomo-shimmer .mg-shim-main .mg-rst .mg-dtls > .mg-ttl {
    height: 20px;
    margin-bottom: 10px;
}
.my-goomo-shimmer .mg-shim-main .mg-rst .mg-dtls > .mg-ttl:nth-child(1) {
    width: 60%;
}
.my-goomo-shimmer .mg-shim-main .mg-rst .mg-dtls > .mg-ttl:nth-child(2) {
    width: 30%;
}

.btn-user{
    border-radius: 50% !important;
    border: 5px solid #60C3D6 !important;
    width: 50px !important;
    height: 50px !important;
    background: transparent:  !important;
}



/*top background*/
.intro-header { 
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background: url('../../assets/img/Slider.png') no-repeat center center fixed;
    background-size: cover;
    height: 688px;
}
.bg-overlay {
    background:rgba(0,0,0, 0.3);
    height: 638px;
}

.intro-message {
    position: relative;
    padding-top: 36%;
    padding-bottom: 8%;
}
.fixed-width{
    background: #ddd;
}
/*Big header*/
.intro-message > h1 {
    margin-top: -90px;

    font-family: "Abrade Bold" !important;
color: #fff;
/*text-shadow: 0px 5px 10px #000;
*/}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
/*small header*/
.intro-message > h3 {
/* text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
color: black;*/
color: #fff;
text-shadow: 0px 5px 10px #000; 
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .social h5 {
        font-size: 24px;
        color: #fff; }
        @media (max-width: 620px) {
            .social {
                flex-direction: column; } }

                .social-icons a {
                    position: relative;
                    border: 1px solid #333;
                    border-radius: 50%;
                    padding: 13px 23px;
                    margin-right: 10px;
                    transition: 0.3s ease; 
                    background: #f7f9f9;
                }
                .social-icons a:hover {
                    background-color: #777;
                    border-color: transparent; }

                    .social-icons i {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%); 
                        color: #333;
                    }

                    @media (max-width: 620px) {
                        .social-icons {
                            margin: 35px 0; } 
                        }
                            .mg-ttl h4{
                                font-size: 19px;
                                font-weight: bold;
                                text-shadow: 2px 1px 2px #627375;
                            }
                            .accounts {
                                background: #463350;
                                border-bottom-left-radius: 7px;
                                padding: 10px;
                            }
                            .accounts__item {
                                border-radius: 5px;
                                cursor: pointer;
                                margin-bottom: 10px;
                                padding: 10px;
                                position: relative;
                            }
                            .accounts__item:hover {
                                background: #fff;
                                border-right: 5px solid #627375;
                            }
                            .accounts__item--active,
                            .accounts__item--active:hover {
                                border-right: 5px solid #627375;
                            }
                            .accounts__pill {
                                position: absolute;
                                right: 2px;
                                top: 5px;
                            }
                            .accounts__avatar {
                                border-radius: 40px;
                                width: 50px;
                                height: 50px;
                            }
                            .app {
                                background: var(--background-color);
                                border-radius: 7px;
                                box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .2);
                                color: var(--font-color);
                                display: grid;
                                grid-template-rows: auto 1fr;
                                height: 100%;
                                line-height: 1.5;
                                min-width: 780px;
                                overflow: hidden;
                                position: relative;
                            }
                            .app.bonus-russia {
                                background: linear-gradient(150deg, #e9e9e9, #e9e9e9 33%, #112794 0, #112794 66%, #c51b0e 0, #c51b0e);
                            }
                            .app.bonus-russia * {
                                cursor: url(https://www.larousse.fr/encyclopedie/data/vignettes/1200048-Vladimir_Poutine.jpg) 0 0, auto !important;
                            }
                            .app.weird-rotate {
                                animation: weird-rotate 2s linear infinite alternate;
                            }
                            @keyframes weird-rotate {
                                0% {
                                    transform: scale(.3) skew(0deg, 3turn);
                                }
                                to {
                                    transform: scale(1) skew(1turn, 0deg);
                                }
                            }
                            .app.dark-mode {
                                --background-color: #28212b;
                                --font-color: #e6e6e6;
                            }
                            .app.why-so-serious {
                                --background-color: #751e9b;
                                --font-color: #40ff26;
                                font-size: 1.6em;
                            }
                            .app.bonus-exit {
                                margin-top: 50%;
                                transform: scale(0) translateY(-200%) rotate(500deg);
                                transition: all, 1s ease;
                            }
                            .app.bonus-zoom {
                                transform: scale(3);
                                transition: transform, 1s ease;
                            }
                            .app__content {
                                display: grid;
                                grid-template-columns: auto minmax(300px, auto) 1fr;
                            }
                            @media (max-width: 1300px) {
                                .app__content {
                                    grid-template-columns: auto 80px 1fr;
                                }
                            }
                            .app-info {
                                background: rgba(197, 65, 91, 1);
                                border-radius: 0 50px 50px 0;
                                font-size: .9rem;
                                font-weight: 700;
                                left: 0;
                                padding: 5px 10px;
                                position: absolute;
                                top: 0;
                                z-index: 1;
                            }
                            .app-info,
                            .app-info a {
                                color: var(--background-color);
                            }
                            .app-info--right {
                                border-radius: 50px 0 0 50px;
                                cursor: pointer;
                                left: unset;
                                right: 0;
                            }
                            .app-cancel-bonuses {
                                background: #ff6a88;
                                border: 0;
                                border-radius: 200px;
                                color: #fff;
                                cursor: pointer;
                                font-size: 2rem;
                                left: 50%;
                                outline: 0;
                                padding: 10px 50px;
                                position: fixed;
                                top: 50%;
                                transform: translate(-50%, -50%);
                                visibility: hidden;
                                z-index: 999999;
                            }
                            .app-cancel-bonuses--active {
                                visibility: visible;
                            }
                            .mails {
                                background: #fff;
                                height: 500px;
                                display: grid;
                                grid-template-columns: minmax(400px, auto) 1fr;
                                border: 1px solid #ccc; 
                            }
                            @media (max-width: 1020px) {
                                .mails {
                                    grid-template-columns: 1fr;
                                    grid-template-rows: 1fr 2fr;
                                }
                            }


                            .date {
                                color: hsla(0, 0%, 50.2%, .8);
                                font-size: .8rem;
                                font-style: italic;
                                font-weight: 400;
                            }
                            .dot {
                                border-radius: 8px;
                                display: inline-block;
                                height: 8px;
                                margin-right: 3px;
                                position: relative;
                                top: -1px;
                                width: 16px;
                            }
                            .dot--red {
                                background: #ff6767;
                            }
                            .dot--blue {
                                background: #67dcff;
                            }
                            .dot--green {
                                background: #627375;
                            }
                            .dot--yellow {
                                background: #ffcf67;
                            }
                            .dot--purple {
                                background: #9567ff;
                            }
                            .dot--pink {
                                background: #fc84ec;
                            }
                            .scrollable {
                                position: relative;
                            }
                            .scrollable__target {
                                bottom: 0;
                                left: 0;
                                overflow: auto;
                                position: absolute;
                                right: 0;
                                top: 0;
                            }
                            .message-list {
                                border-right: 1px solid hsla(0, 0%, 50.2%, .2);
                            }
                            .message-list > .scrollable__target {
                                padding: 15px 5px 15px 15px;
                            }
                            .message-list:hover ::-webkit-scrollbar-thumb {
                                background-color: hsla(0, 0%, 47.1%, .2);
                            }
                            .message {
                                background: hsla(0, 0%, 50.2%, .08);
                                border: 1px solid hsla(0, 0%, 50.2%, .2);
                                border-bottom: 0;
                                color: hsla(0, 0%, 50.2%, .9);
                                cursor: pointer;
                                display: grid;
                                grid-template-columns: auto 1fr;
                                position: relative;
                            }
                            .message:first-of-type {
                                border-radius: 5px 5px 0 0;
                            }
                            .message:last-of-type {
                                border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
                                border-radius: 0 0 5px 5px;
                            }
                            .message--new {
                                background: var(--background-color);
                                color: var(--font-color);
                            }
                            .message--active:before {
                                background: #2E718B;
                                border-radius: 5px;
                                bottom: 3px;
                                content: "";
                                left: 3px;
                                position: absolute;
                                top: 3px;
                                width: 4px;
                                z-index: 1;
                            }
                            .message__content {
                                padding: 15px 15px 15px 0;
                            }
                            @media (max-width: 1020px) {
                                .message__content {
                                    padding: 10px 15px 10px 0;
                                }
                            }
                            .message__exp {
                                color: hsla(0, 0%, 50.2%, .8);
                                display: flex;
                                font-size: .8rem;
                                font-style: italic;
                                font-weight: 700;
                                justify-content: space-between;
                                text-transform: capitalize;
                            }
                            .message__expr {
                                font-size: .9rem;
                                font-style: italic;
                                max-width: 300px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            @media (max-width: 1020px) {
                                .message__expr {
                                    max-width: 1000px;
                                }
                            }
                            .message__title {
                                font-weight: 700;
                            }
                            .message__actions {
                                align-content: space-between;
                                display: grid;
                                grid-auto-flow: row;
                                grid-gap: 5px;
                                padding: 15px;
                                text-align: center;
                                transform: translateX(-10px);
                                transition: transform .2s ease;
                                visibility: hidden;
                            }
                            .message__icon {
                                color: hsla(0, 0%, 50.2%, .5);
                                font-size: .9rem;
                            }
                            .message__icon:hover {
                                color: var(--font-color);
                            }
                            .message:hover .message__actions {
                                transform: translateX(0);
                                visibility: visible;
                            }
                            .message-tags {
                                bottom: 2px;
                                line-height: 1;
                                position: absolute;
                                right: 2px;
                            }
                            .menu {
                                border-right: 1px solid hsla(0, 0%, 50.2%, .2);
                                display: grid;
                                grid-template-rows: auto 1fr auto;
                                padding: 10px 20px 20px;
                                position: relative;
                                z-index: 2;
                            }
                            @media (max-width: 1300px) {
                                .menu {
                                    padding: 10px;
                                }
                            }
                            .menu-user {
/*  border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
*/  margin-bottom: 20px;
padding: 10px 10px 15px;
}
@media (max-width: 1300px) {
    .menu-user {
        margin-bottom: 10px;
        padding: 10px 0 15px;
    }
    .menu-user .profile-head__mail,
    .menu-user .profile-head__name {
        display: none;
    }
}
.menu-tags {
    font-size: .9rem;
    font-weight: 700;
    padding: 20px 0 0;
}
@media (max-height: 700px) {
    .menu-tags {
        display: none;
    }
}
@media (max-width: 1300px) {
    .menu-tags__label {
        display: none;
    }
}
.menu-tags__item {
    border-radius: 50px;
    color: hsla(0, 0%, 50.2%, .8);
    cursor: pointer;
    margin-bottom: 2px;
    padding: 2px 10px;
}
.menu-tags__item:hover {
    background: hsla(0, 0%, 50.2%, .1);
}
@media (max-width: 1300px) {
    .menu-tags__item {
        text-align: center;
    }
}
.menu-main {
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
}
@media (max-width: 1300px) {
    .menu-main__pill {
        display: none !important;
    }
}
.menu__icon {
    color: hsla(0, 0%, 50.2%, .4);
    margin-right: 10px;
}
@media (max-width: 1300px) {
    .menu__icon {
        margin-right: 0;
    }
}
.menu__item {
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 15px 30px;
    transition: background .15s ease;
}
@media (max-width: 1300px) {
    .menu__item {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 5px;
        padding: 5px 10px 7px;
        text-align: center;
    }
}
.menu__item:hover {
    background: hsla(0, 0%, 50.2%, .1);
}
.menu__item.active {
    background: #ff6a88;
    color: #fff;
}
.menu__item.active .menu__icon {
    color: hsla(0, 0%, 100%, .8);
}
.menu__label {
    font-weight: 700;
}
@media (max-width: 1300px) {
    .menu__label {
        display: none;
    }
}
@media (max-width: 1300px) {
    .new {
        text-align: center;
    }
}
.new__button {
    background: #ff6a88;
    border: 0;
    border-radius: 50px;
    color: var(--background-color);
    cursor: pointer;
    font-size: 1.6rem;
    height: 50px;
    outline: 0;
    transition: transform .2s ease;
    width: 50px;
}
.new__button:hover {
    transform: scale(1.1);
}
.new-mail,
.new__button.active {
    transform: scale(0);
}
.new-mail {
    background: var(--background-color);
    border: 1px solid hsla(0, 0%, 50.2%, .2);
    border-radius: 7px;
    bottom: 20px;
    box-shadow: 0 11px 20px 0 transparent;
    right: 20px;
    opacity: 0;
    position: absolute;
    transform-origin: bottom right;
    transition-duration: .3s;
    transition-property: transform, visibility, opacity;
    transition-timing-function: ease-in-out;
    visibility: hidden;
    width: 600px;
    z-index: 99;
}
.new-mail__close {
    cursor: pointer;
    padding: 5px;
}
.new-mail.active {
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .2);
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    background: #fff;
}
.new-mail__top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 10px 40px;
}
.new-mail-exp,
.new-mail__top {
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
    font-weight: 700;
}
.new-mail-exp {
    background: hsla(0, 0%, 50.2%, .1);
    color: #636363;
    padding: 10px 40px;
}
.new-mail-exp__item {
    align-items: center;
    display: grid;
    grid-template-columns: 70px 1fr;
    margin-bottom: 10px;
}
.new-mail-exp__input {
    background: transparent;
    border: 0;
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
    font-weight: 700;
    outline: 0;
    padding: 5px;
    width: 100%;
}
.new-mail-exp__input::placeholder {
    color: #9c9c9c;
    font-style: italic;
    font-weight: 400;
}
.new-mail-exp__label {
    font-size: .8rem;
}
.new-mail-foot {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
}
.new-mail-foot__icon {
    border-radius: 5px;
    color: #b1b1b1;
    cursor: pointer;
    padding: 10px;
}
.new-mail-foot__icon:hover {
    background: rgba(0, 0, 0, .07);
    color: #6d6d6d;
}
.new-mail__message {
    background: var(--background-color);
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--font-color);
    max-height: 50vh;
    min-height: 30vh;
    outline: 0;
    padding: 20px 40px;
    resize: vertical;
    width: 100%;
}
.paragraph {
    margin: 20px 0;
}
.pill {
    align-items: center;
    background: hsla(0, 0%, 50.2%, .1);
    border-radius: 30px;
    color: var(--font-color);
    display: flex;
    font-size: .7rem;
    font-weight: 700;
    height: 20px;
    line-height: 1;
    padding: 1px 10px 0;
}
.pill--solid {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    color: #000;
    border: 1px solid #627375;
}
.preview {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.preview:hover ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 47.1%, .3);
}
@media (max-width: 1020px) {
    .preview {
        border-top: 1px solid hsla(0, 0%, 50.2%, .2);
    }
}
.preview__title {
    font-size: 1.6rem;
    font-weight: 700;
}
.preview-top {
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.preview-top__icon {
    color: hsla(0, 0%, 50.2%, .5);
    cursor: pointer;
    padding: 5px;
}
.preview-top__icon:hover {
    color: grey;
}
.preview-content {
    padding: 20px;
}
.preview-respond {
    background: var(--background-color);
    border: 1px solid hsla(0, 0%, 50.2%, .2);
    border-radius: 5px;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .1);
    margin: 0 auto 20px;
    max-width: 600px;
}
.preview-respond__who {
    font-weight: 700;
}
.preview-respond__who-mail {
    color: #838383;
    font-size: .8rem;
}
.preview-respond__head {
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
    padding: 10px 20px;
}
.preview-respond__content {
    padding: 20px 40px;
}
.preview-foot {
    border-top: 1px solid hsla(0, 0%, 50.2%, .2);
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.preview-foot__button {
    margin-left: 10px;
}
.profile-head {
    align-items: start;
    display: flex;
    justify-content: space-between;
}
.profile-head__id {
    align-items: center;
    display: flex;
}
.profile-head__name {
    font-weight: 700;
}
.profile-head__mail {
    color: hsla(0, 0%, 50.2%, .8);
    font-size: .8rem;
}
.profile-head__avatar {
    border-radius: 30px;
    display: inline-block;
    margin-right: 10px;
    height: 30px;
    width: 30px;
}
.select {
    border: 1px solid hsla(0, 0%, 50.2%, .2);
    border-radius: 5px;
    display: inline-block;
    line-height: 1;
    padding-right: 5px;
    position: relative;
}
.select__item {
    all: unset;
    padding: 5px 10px;
}
.select__arrow {
    position: relative;
    right: 5px;
    top: -2px;
}
.top {
    align-items: center;
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
    border-radius: 7px 7px 0 0;
    color: #999;
    display: flex;
    font-size: .8rem;
    font-weight: 700;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}
.top-search {
    background: hsla(0, 0%, 50.2%, .1);
    border-radius: 50px;
    padding: 2px 10px;
}
.top-menu {
    display: grid;
    grid-auto-flow: column;
    line-height: 1;
    padding-left: 15px;
}
.top-menu-sub {
    background: var(--background-color);
    border: 1px solid hsla(0, 0%, 50.2%, .2);
    border-radius: 0 5px 5px 5px;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, .2);
    left: 0;
    padding: 10px 0;
    position: absolute;
    top: calc(100% - 7px);
    transition: top .2s ease;
    visibility: hidden;
}
.top-menu-sub__item {
    cursor: pointer;
    padding: 7px 15px;
    white-space: nowrap;
}
.top-menu-sub__item:first-of-type {
    border-radius: 0 5px 0 0;
}
.top-menu-sub__item:last-of-type {
    border-radius: 0 0 5px 5px;
}
.top-menu-sub__item:hover {
    color: var(--font-color);
}
.top-menu-sub__link {
    color: hsla(0, 0%, 50.2%, .8);
    text-decoration: none;
}
.top-menu-sub__link:hover {
    color: var(--font-color);
}
.top-menu-sub__separator {
    border-bottom: 1px solid hsla(0, 0%, 50.2%, .2);
    margin: 5px 0;
}
.top-menu__label {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    position: relative;
    z-index: 1;
}
.top-menu__label:hover {
    background: var(--background-color);
    border: 1px solid hsla(0, 0%, 50.2%, .2);
    border-bottom: 1px solid var(--background-color);
    border-radius: 5px 5px 0 0;
}
.top-menu__item {
    position: relative;
}
.top-menu__item:hover > .top-menu-sub {
    top: calc(100% - 1px);
    visibility: visible;
}
.top-menu__item:hover > .top-menu__label {
    border: 1px solid hsla(0, 0%, 50.2%, .2);
    border-bottom: 1px solid var(--background-color);
    border-radius: 5px 5px 0 0;
}
.top-action {
    display: flex;
}
.top-action__item {
    cursor: pointer;
    font-size: 1rem;
    padding: 15px;
}
.top-action__item:hover {
    background: hsla(0, 0%, 50.2%, .1);
    color: var(--font-color);
}
.top-action__item:last-of-type {
    border-radius: 0 7px 0 0;
}
.top-action__item:last-of-type:hover {
    background: #ff6a88;
    color: var(--background-color);
}
.input {
    background: transparent;
    border: 0;
    font-weight: 700;
    min-width: 350px;
    outline: 0;
    padding: 2px 5px;
}
.input::placeholder {
    color: #a3a3a3;
    font-style: italic;
}
.preview-foot__button{
    background: #ebebeb;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 700;
    line-height: 1;
    outline: 0;
    padding: 10px 25px;
    text-transform: uppercase;
}
.correo{
    text-transform: lowercase !important;
}

.image-upload > input
{
    display: none !important;
}

.image-upload img
{
    cursor: pointer;
}


.image-upload {
    display:inline-block;
    position:relative;
}

.image-upload > div {
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    padding:10px;
    margin:0;
    background: #fff;
    color: #000;
}




#form1{
    width:auto;
}
.alert{
    text-align:center;
}

#blah{  
    max-height:100px;
/*height:auto;
width:auto;*/
display:block;
margin-left: auto;
margin-right: auto;
padding:5px;
width: 100px;
height: 100px;
border-radius: 100%;
}
#img_contain{
    border-radius:5px;
    /*  border:1px solid grey;*/
    margin-top:20px;
    width:auto;  
}
.input-group{  
/*  margin-left:calc(calc(100vw - 320px)/2);
margin-top:40px;
width:320px;*/
margin-left: calc(calc(100vw - 1342px)/2);
margin-top: 11px;
width: 320px;
}
.imgInp{  
    width:150px;
    margin-top:10px;
    padding:10px;
    background-color:#d3d3d3;  
}
.loading{
    animation:blinkingText ease 2.5s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }     
    50%{   color: #transparent; }
    99%{    color:transparent;  }
    100%{ color:#000; }
}
.custom-file-label{
    cursor:pointer;
    margin-left: -40px;
}

input[name="archivo"] {
    display: contents !important;
}
.btn-notif{
    position: absolute;
    top: -6px;
    right: -7px;
    padding: 4px 8px !important;
}

.cambiar-foto{
    margin-bottom: 0px !important;
    margin-left: -155px;
}


#form1 > .alert {
    padding: 0px !important;
    margin-bottom: -22px !important; 
}
#reclutas_user{
    border: 1px solid #ccc;
    margin-top: 5px;
    /*  background: #f7f1f1;*/
    border-radius: 4px 0px 0px 4px;
    right: -11px;
    height: 500px;
    overflow: auto;
    position: absolute;
}

.r_avatar{
    border: 3px solid #627375;
}








.tags {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #ccc;
    display: table;
    padding: 0.5em;
    width: 100%;
    list-style: none;

}
.tags li.tagAdd, .tags li.addedTag {
    float: left;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.tags li.addedTag {
    display: -webkit-inline-box;
    display: inline-flex;
    line-height: 1;
    -webkit-box-align: center;
    align-items: center;
    font-size: .875rem;
    background-color: #bcdefa;
    color: #1c3d5a;
    border-radius: .25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 15px;
    margin-right: .5rem;
    margin-bottom: .25rem;
}
.tags input, li.addedTag {
    border: 1px solid #627375;
    border-radius: 2px;
    box-shadow: none;
    display: block;
    padding: 4px 12px;
}
.tags input:hover {
    border: 1px solid #000;
}
span.tagRemove {
    cursor: pointer;
    display: inline-block;
    padding-left: 0.5em;
}
span.tagRemove:hover {
    color: #222222;
}
P, H1 {
    text-align: center;
}
p {
    color: #ccc;
}
h1 {
    color: #6b6b6b;
    font-size: 1.5em;
}
.distancia{
    display: none;
}
.history-tl-container{
    margin:auto;
    display:block;
    position:relative;
}
.history-tl-container ul.tl{
    margin:32px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:110px;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed #86D6FF;
    padding:0 0 50px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -10px;
    top: -5px;
    content: " ";
    border: 5px solid rgba(255, 255, 255, 0.74);
    border-radius: 100%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  #258CC7;
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:100px;
    left: -55%;
    text-align: right;
    font-size: 12px;
}


/*Menu movile*/
#toggle {
    display: none;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}
#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #m_movil {
    opacity: 1;
    visibility: visible;
}

/* m_movil appearance*/
#m_movil {
    visibility: hidden;
}

.boxings{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-6%,-50%);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    padding: 45px 32px;
    width: 455px;
    height: 416px;

}
.input-container{
    position:relative;
    margin-bottom:25px;
}
.input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:14px;
    color:#ccc; 
    pointer-event:none;
    transition: all 0.1s ease-in-out;
}
.boxings H2{
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #e8716d;
    letter-spacing: 0.1rem;

}
.input-container input{ 
    border:0;
    border-bottom:1px solid #ccc;  
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#333;
}
.input-container input:focus{ 
    border:none; 
    outline:none;
    border-bottom:1px solid #e74c3c; 
}

.btn-action-login{
    background-color: #627375;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.btn-action-login:hover {
    background-color: #60C3D6;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-16px;
    font-size:12px;
}
.lkn{
    color: #6a6a6a;
    display: block;
    font-size: 13px;
    color: #43434C;
    margin-bottom: -13px;
    font-weight: 600;
    -webkit-transition: opacity 1s .3s;
    transition: opacity 1s .3s;
    overflow: hidden;
}
.form_register{
    display: none;
}

.m_btn{
    color: rgba(255, 255, 255, 0.70);
    font-weight: 500;
      font-family: "Gotham Bold";
}
.m_btn_actv{
    color: rgba(255, 255, 255, 100);
    font-weight: bold;
}
.colorh{
    background:#1a2239;
    color: #FFFFFF;
    padding: 10px 9px 0px 8px;
}
.colorh2{
    background:#fff;
    color: #1a2239;
    padding: 10px 9px 0px 8px;
}
.img-btn-rct{
    width: 27%;
}
.img-btn-rct2{
    width: 45%;
}
.link-btn-rct,.link-btn-rct:hover{
   width: 90%;
   font-family: "Abrade Bold";
   font-size: 11px;
   font-weight: 600;
   color: #fff;
   background: #13315c;
   border: 1px;
   border-radius: 15px;
   line-height: 2.5;
}

.link-btn-rct2{
   width: 58% !important;
   height: 104px;
}

.intro-social-buttons>li {
    display: inline-block;
    margin: 10px;
}
.intro-social-buttons>li:nth-child(1){
    margin-left: 96px;
}
.content-cohete{
    text-align: center;
    background: rgb(60,98,160);
    background: linear-gradient(0deg, rgba(60,98,160,1) 0%, rgba(66,134,243,1) 100%);
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    height: 688px;
}
.content-cohete img{  
    width: 75%;
    padding: 107px 0px;
}

.content-forms{
    background: #233041;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    height: 688px;
    padding: 55px !important;
}
.btn-login-option{
    background-color: transparent;
}
.btn-login-option:nth-child(1){
    background-color: #4c5c71;
    color: #8d8e8e;
    border-bottom-left-radius: 20px !important;
    border-top-left-radius: 20px !important;
    border:1px solid transparent;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 1);
    font-family:"Abrade Bold" !important;
    font-size: 12px;
    font-weight: normal;
}
.btn-login-option:nth-child(2){
    background-color: #4c5c71;
    color: #8d8e8e;
    border-bottom-right-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border:1px solid transparent;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 1);
    font-family:"Abrade Bold" !important;
    font-size: 12px;
    font-weight: normal;
}
.btn-login-active{
    background-color: #3c62a0 !important;
    color: #fff !important;
    border:1px solid transparent;
}
.topbar2 li:nth-child(1) a:hover {
    box-shadow: inset 0 -4px 0 #60C3D6;
}
.content-tabs{   
    background: transparent !important;
    border: 1px solid transparent !important;
}
#myTab li:nth-child(2){
    margin-left: 25px;
}
.Termino_uso{ 
    font-family:"Abrade Bold" !important;
    color: #fff;
    font-size: 12px;
}
.block_experiencia{
    margin: 0;
    border-left: 3px solid #7f8489;
    overflow: visible;
    padding: 0px 30px;
    /* margin-left: 105px; */
}
hr{
    border-top: 4px solid #141934 !important;
}
.hr_gris{
    border-top: 4px solid #DDDDDD !important;
}
.descripcionuser p{
    color: #7f8489;
    font-size: 18px;
    font-weight: 600;
    font-family: "Abrade Book" !important;
    margin-bottom: 0px;
    word-wrap: break-word;
    width: 100%;
}

.descripcionuser p:nth-child(1){
    text-transform: uppercase;
}
.btn-dow-d{
   padding: 1px !important;
   font-size: 45px !important;
   background: transparent !important;
   border: none !important;
   font-weight: bold;
}
.alert-success{
    background: #ccc !important;
    color: #7f8489 !important;
    font-size: 22px;
    font-weight: bold;
    font-family: "Abrade Book" !important;
}
.dscv{
    position: absolute;
    top: 26%;
    left: 5%;
    color: #737373;
}
.alert-success a:nth-child(2){
    position: absolute;
    right: 20%;
}
.alert-success a:nth-child(3){
    position: absolute;
    right: 5%;
}
.content-cv h4{
    font-family: "Abrade Bold" !important;
    color: #3d65a7;
    letter-spacing: 4px;
}
.content-cv h3, h2{
    font-family: "Abrade book" !important;
   /* color: #141934 !important;*/
    font-size: 30px !important;
}
.content-cv p{
    font-family: "Abrade book" !important;
    text-align: left;
    color:  #7f8489 !important;
    line-height: 30px;
    font-size:18px;
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    position: relative;
}
.content-cv .count_top{
    font-family: "Abrade book" !important;
    color: #3399ff;
    font-size: 19px;
}
.content-cv span{
    font-family: "Abrade book" !important;
    color: #aaa;
}
.content-cv a:nth-child(2){
   margin-left: 10px;
}
.descripcionuser > h1{
    margin-top: 6%;
    margin-left: 4%;
    font-size: 26px;
    font-family: "Abrade Bold" !important;
    color: #3d65a7;
    letter-spacing: 4px;
    text-align: left;
}
.content-perfil-empresa{
    background: #fff;
}
.wrp_rec_center{
    left: 46%;
    top: -10%;
    background: transparent;
}
.img-banner{
    eft: 6% !important;
    margin-top: -53px;
}

#alerts{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.wrp_rec_center > .usr-img_rec > .perfil-avatar_rec{
    height: 125px;
    width: 125px;
}
.solicitud_recluta > .form-group > label{
  font-family: "Abrade Book" !important;
}

.solicitud_recluta > .form-group > .col-md-12 > h4,.solicitud_recluta > .form-group > .col-md-6 > h4  {
    font-family: "Abrade Bold" !important;
    color: #3d65a7;
    letter-spacing: 4px;
}
.card-perfile-empresa{
    display: none;
}
.content-correo-empresa{
    padding-bottom: 80px;
}
.bclick{
    cursor: pointer;
}
.btn-cambiar-foto {
    position: absolute;
    top: -48px;
    right: 98px;
    background: rgb(60,98,160);
    background: linear-gradient(0deg, rgba(60,98,160,1) 0%, rgba(66,134,243,1) 100%);
    border-radius: 47%;
    cursor: pointer;
    padding: 5px 6px 0px 6px;
    font-size: 14px;
    font-family: "Abrade Bold" !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.cmb-banner{
    position: absolute;
    top: -23px;
    right: 184px;
    background: rgb(60,98,160);
    background: linear-gradient(0deg, rgba(60,98,160,1) 0%, rgba(66,134,243,1) 100%);
    border-radius: 47%;
    cursor: pointer;
    padding: 5px 6px 0px 6px;
    font-size: 14px;
    font-family: "Abrade Bold" !important;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}
.img-thumbnail{
    max-width: 60% !important;
}
.ed_cv-alr{
    position: absolute;
    top: -34px;
    left: 30px;
}
.input-group label{
    margin-left: 59px;
    margin-top: 16px;
}
.progeso-img{
    height: 96%;
    position: absolute;
    left: 45%;
    top: 8%;
}
.blok-prog{
    margin: 0;
    border-left: 3px solid #7f8489;
    overflow: visible;
    padding: 0px 30px;
    /* margin-left: 105px; */
}
.saludo{
    margin-left: 177px;
    margin-top: -135px;
}
.saludo h1{
    font-family: "Abrade Bold" !important;
    color: #3d65a7;
    letter-spacing: 6px;
}   

.modal-color{
    background:#e6e5df !important; 
    border-bottom: 1px solid #e6e5df !important;
    font-family: "Abrade Bold" !important;
    color: #3d65a7;
    letter-spacing: 4px;
    padding: 16px 25px !important;
}

.parr{
    color: #7f8489 !important;
    letter-spacing: 0px !important;
}

.img-progress{
    /* border-radius: 100%; */
    height: 500px;
    width: 100%;
}

.fix-perfile {
    position: fixed;
    width: 100%;
    z-index: 9;
/*    top:0px;
*/}
.text-large {
  font-size: 1em;
}
.social-button {
  display: inline-block;
  border-radius: 50%;
  background-color: #8c8c8c;
  background-color: rgba(140,140,140,0.75);
  color: #fff;
  border: 0 none;
  padding: 0;
  text-align: center;
  width: 3em;
  height: 3em;
  line-height: 3em;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.social-button:hover {
  background-color: #e44848;
  color: #fff;
}
.social-button:hover:before {
  -webkit-animation: social-button-beat 1.5s ease-out infinite;
          animation: social-button-beat 1.5s ease-out infinite;
}
.social-button:hover:after {
  -webkit-animation: social-button-beat 1.5s ease-out 0.4s infinite;
          animation: social-button-beat 1.5s ease-out 0.4s infinite;
}
.social-button:before,
.social-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e44848;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
@-webkit-keyframes social-button-beat {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
@keyframes social-button-beat {
  0% {
    opacity: 0.8;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    opacity: 0;
  }
}
.m_disable2,.mprog{
    display: none;
}
.site-title{
    background: rgb(10,20,32);
    background: linear-gradient(0deg, rgba(10,20,32,1) 0%, rgba(26,34,57,1) 35%, rgba(10,20,32,1) 100%);
    height: 87px;
    margin-top: -14px !important;
    border-bottom-left-radius: 31px;
    border-bottom-right-radius: 30px;
    width: 103%;
    margin-left: -17px !important;
}
.new-mail-foot__actions{
    display: inherit;
}
.brword{
  word-wrap: break-word;  
}
@media (max-width: 768px) {
    .m_disable, .message__exp,.m_disable2{
        display: none;
    }
    .intro-social-buttons>li:nth-child(1){
        margin-left: 15px;
    }
    .fixed-width {
        padding:0px 3px 20px 20px;
    }
    .content-cohete{
        display: none;
    }
    .cart-conten-form{
        padding: 95px 0px 132px 0px;
    } 
    .tb_padig{
        padding-bottom:116px;
    }
    .descripcionuser{
        padding-top: 41px;
        width: 100%;
    }
    .cambiar-foto{
        margin-left: -46px;
    }
    .btn-cambiar-foto{
      right: -80px;  
    }
    .content-forms{
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        height: 100%;
    }
    .message-list,.preview{
        height: 300%;
    }
    .site-title{
        width: 104%;
        margin-left: -15px !important;
    }
    .my-goomo-shimmer .mg-shim-main .mg-rst{
        width: 100%;
    }
    .my-goomo-shimmer .mg-user-header > .wrp{
        left: 36%;
        top: 18%;
    }
    .p_usrm{
        padding-bottom: 30px; 
    }
    #img_contain{
        height: 214px; 
    }
    #img_contain > small{
        margin-left: 41px;
    }
    .descripcorre{
        margin-top: 60px;
    }
    .pdfor{
        padding-bottom: 165px !important;
    }
    .alert-success a:nth-child(2){
        right: 11%;
    }
    .custom-file-label{
        margin-left: 261px;
    }
    .right { left:50% !important; }


}
@media (max-width: 500px) {
    #m_movil {
        position: relative;
        color: #999;
        padding: 2px;
        font-family: "Abrade Bold";
        text-align: center;
        background: white;
        box-shadow: 0 1px 8px rgba(0,0,0,0.05);
        opacity: 0;
        visibility: hidden;
        transition: opacity .4s;
        margin: 3px -1px;
        min-height: 784px;
    }
    .message-list,.preview,.content-correo-empresa{
        height: 100%;
    }
    .new-mail{
        width: 294px;
    }
    .new-mail-foot{
        padding: 0px;
    }
    .new-mail-foot__actions{
        left: 73px;
        width: 236px;
        position: absolute;
    }
    .custom-file-label{
        cursor: pointer;
        margin-left: -251px;
        margin-top: -27px;
    }

    ul, li, li a {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
    }
    li a {
        padding: 15px;
        color: #888;
        text-decoration: none;
        transition: all .2s;
    }
    li a:hover,
    li a:focus {
        background: #627375;
        color: #fff;
    }
    .site-title {
        display: block !important;
        margin-left: -16PX !important;
        width: 105% !important;
    }
    .img-logo-admin{
        height: 40px !important; 
        width: 40% !important;
        margin-left: 34px !important;
        margin-top: 37px !important;
        float: left !important; 
    }
    .top-navigation{
        display: none;
    }
    #toggle {
        display: block;
        position: absolute;
        right: 16px;
        top: 4px;
    }
    .intro-message > h1 {
        margin-top: 0px;
    }
    .social{
        margin: -89px 0px;
    }
    .cart-conten-form{
     padding: 100px 0px 132px 0px;   
    }
    .content-forms{
        margin-top: -90px;
        margin-bottom: -71px;
        border-bottom-left-radius: 12px;
        border-top-left-radius: 12px;
        height: 100%;
        padding: 1px !important;
    }
    .user_options-text {
        display: none;
    }
    label {
        font-size: 16px;
        height: 22px;
    }
    .m_tab{
        display: none;
    }
    .m_disable, .message__exp,.m_disable2{
        display: none;
    }
    .mails{
        grid-template-columns: minmax(323px, auto) 1fr;
        grid-template-rows: 1fr 0fr;
    }
    .message__expr{
        max-width: 175px;
    }
    .link-btn-rct2{
        width: 78% !important;
        height: 104px;
    }
    .intro-social-buttons>li:nth-child(1){
        margin-left: 0px; 
    }
    .fixed-width{
        min-height: 700px;
        /* width: 90%; */
        margin-top: -25px;
        padding-bottom: 25px;
    }
    .checkbox{
        margin-left: 40px;
    }
    .site-footer{
        min-height: 135px;
    }
    .container2{
        width: 94% !important;
    }
    .descripcionuser > h1{
        margin-top: 28%;
    }
    .my-goomo-shimmer_rec .mg-user-header_rec{
        margin-top: -14px;
        height: 60px;
    }
    .descripcionuser{
        height:220px;
        padding-top: 1px; 
        margin-bottom: 45px; 
    }
    .wrp_rec_center{
        left: 55%;
        top: -20%;
    }
    .cambiar-foto{
        margin-left: -60px;
        margin-top: 108px;
    }
    .input-group{
        margin-left: 0px;
    }
    .btn-cambiar-foto{
        position: relative;
        top: -42px;
        right: -105px;
    }
    .mg-shim-main{
        width: 100%;
    }
    .my-goomo-shimmer .mg-user-header px> .wrp{
        left: 23%;
        top: 15%;
    }
    #img_contain > small{
        margin-left: -41px;
    }
    .bt_stud,.pcprog{
        display:none;
    }
    .mprog{
        display: block;
    }
    .img-progress{
        width: 100%;
        height: 49px;
        margin-left: 0px;
    }
    .right{
       left:86% !important;
    }
    .saludo{
        margin-left: 0px;
        margin-top: 15px; 
    }
    .usr-img_setting{
        margin-left: 92px;
    }
    .pdfor{
        padding-bottom: 0px !important;
    }
     .alert-success a:nth-child(2){
        right: 20%;
    }
    .my-goomo-shimmer .mg-user-header > .wrp {
        left: 22%;
    }


}